server {
    listen ${NGINX_PORT};

    server_name ${DOMAIN_NAME} www.${DOMAIN_NAME};

    # Статические и медиафайлы обслуживаются объектным хранилищем,
    # nginx выполняет только проксирование запросов к приложению.
    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://website:${DJANGO_PORT};
    }
}
