@charset 'UTF-8';

html body {
    background-color: whitesmoke;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

table:not(.center) td {
    border: 1px solid black;
}

.pagination {
    justify-content: center
}
