DEBUG=True/False
SECRET_KEY='secret-django-key'
STATIC_ROOT='/path/to/staticfiles/dir'
STORAGE_ROOT='/path/to/storage/dir'
BACKUP_ROOT='/path/to/backups/dir'
LOGS_ROOT='/path/to/logs/dir'
TEMP_ROOT='/path/to/temp/dir'
PROJECT_NAME='project_name'
POSTGRES_USER='username'
POSTGRES_PASSWORD='password'
POSTGRES_HOST='db-hostname'
POSTGRES_PORT='5432'
POSTGRES_NAME='db_name'
EMAIL_HOST_USER='username@example.com'
EMAIL_HOST_PASSWORD='email-service-password'
DOMAIN_NAME='example.com'