# Из репозитория исключаем виртуальное окружение Python, модули Node.js,
# CSS и JS файлы для административного интерфейса Django, файлы кэша Python,
# логи и SSL сертификаты, файл с переменными окружения, отчеты по тестированию.
.venv
node_modules
secrets.json
.env
__pycache__
*.log
*.pyc
mikhailpolyakov.crt
mikhailpolyakov.key
.pytest_cache
.DS_Store
.coverage
htmlcov
CACHE
/logs/
/static/
/storage/
/backups/
/temp/
nginx/conf.d
.ruff_cache
TODO.md
/tmp/
