# Из репозитория исключаем виртуальное окружение Python, модули Node.js, 
# CSS и JS файлы для административного интерфейса Django,
# файлы кэша Python, логи и SSL сертификаты,
# файл с переменными окружения.
.venv
node_modules
secrets.json
.env
static/
logs
__pycache__
*.log
*.pyc
mikhailpolyakov.crt
mikhailpolyakov.key