# Из репозитория исключаем виртуальное окружение Python, модули Node.js, 
# CSS и JS файлы для административного интерфейса и батареек Django,
# файлы кэша Python, логи и SSL сертификаты.
.venv
.vscode
__pycache__
secrets.json
mikhailpolyakov.crt
mikhailpolyakov.key
node_modules
static/node_modules
static/admin
static/tinymce
static/django_tinymce
*.log
*.pyc