<!DOCTYPE html>
<html lang="ru">
  <meta charset="utf-8">

  <style>
    html body {
      background-color: whitesmoke;
    }
    .navbar-dark .navbar-nav .nav-link {
    color: lightgrey;
    }
    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    }
    .center {
      margin-left: auto;
      margin-right: auto;
    }
    td {
      padding-top:5px;
      padding-bottom:5px;
      padding-right:5px;   
    }
  </style>

  <head>
  {% load static %}
    <title>Михаил Поляков</title>
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm p-0 mb-5 bg-dark">
      <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
      <div class="container-fluid">
        <a class="navbar-brand">Mikhail Polyakov</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              {% if "blog" in request.path %}
                <a class="nav-link lead active" aria-current="page" href="{% url 'blog:blog' %}">Блог</a>
              {% else %}
                <a class="nav-link lead" aria-current="page" href="{% url 'blog:blog' %}">Блог</a>
              {% endif %}
            </li>
          </ul>
        </div>
        {% if user.is_authenticated %}
          <span class="navbar-text text-nowrap" style="margin-right:10px">
            <small>Вы вошли как {{ user.get_username }}</small>
          </span>
          <a href='/accounts/logout/' class="btn btn-outline-light" role="button">Выйти</a>
        {% else %}
          <a href='/accounts/signup/' class="navbar-text text-nowrap" style="margin-right:10px">Регистрация</a>
          <a href='/accounts/login/' class="btn btn-outline-light" role="button">Войти</a>
        {% endif %}
      </div>
    </nav>

  </head>

</html>