[Unit]
Description=personal-website (Django, Gunicorn) socket

[Socket]
ListenStream=/run/personal-website.sock
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
