server {
    listen ${NGINX_PORT};

    server_name ${DOMAIN_NAME};

    location /media/ {
        alias ${STORAGE_ROOT};
    }

    location /static/ {
        alias ${STATIC_ROOT};
    }

    location /favicon.ico {
	    alias ${STATIC_ROOT}/favicon.ico;
	}

    location /robots.txt {
	    alias ${STATIC_ROOT}/robots.txt;
	}

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.sock;
    }
}
