{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ photo.album.name }} - {{ photo.name }}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="card shadow p-1 mb-5 bg-white rounded justify-content">
            <div class="card-body">
                <img class="card-img" src="{{ photo.image.url }}" alt="{{ photo.name }}">
                <div class="card-footer" align="center">
                    {% block exif %}
                        <table>
                            {% if photo.camera %}
                                <tr>
                                    <td>Камера</td>
                                    <td>{{ photo.camera }}</td>
                                </tr>
                            {% endif %}
                            {% if photo.lens_model %}
                                <tr>
                                    <td>Объектив</td>
                                    <td>{{ photo.lens_model }}</td>
                                </tr>
                            {% endif %}
                            {% if photo.focal_length %}
                                <tr>
                                    <td>Фокусное расстояние</td>
                                    <td>{{ photo.focal_length }} мм</td>
                                </tr>
                            {% endif %}
                            {% if photo.aperture %}
                                <tr>
                                    <td>Диафрагма</td>
                                    <td>F/{{ photo.aperture|floatformat:"0" }}</td>
                                </tr>
                            {% endif %}
                            {% if photo.exposure %}
                                <tr>
                                    <td>Экспозиция</td>
                                    <td>{{ photo.exposure }} с</td>
                                </tr>
                            {% endif %}
                            {% if photo.iso %}
                                <tr>
                                    <td>Светочувствительность</td>
                                    <td>ISO {{ photo.iso }}</td>
                                </tr>
                            {% endif %}
                        </table>
                    {% endblock exif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
