{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ photo.album.name }} - {{ photo.name }}
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="card shadow bg-white rounded justify-content">
            <img class="card-img" src="{{ photo.image.url }}" alt="{{ photo.name }}">
            <div class="card-footer" align="center">
                <div class="btn-group" role="group" aria-label="Photo navigation buttons">
                    {% if previous_photo %}
                        <a href="{{ previous_photo.get_absolute_url }}"
                           class="btn btn-outline-dark"
                           id="previous-photo-link"><</a>
                    {% endif %}
                    <button type="button"
                            class="btn btn-outline-dark"
                            id="exif-modal-button"
                            data-bs-toggle="modal"
                            data-bs-target="#exifModal">О фото</button>
                    {% if next_photo %}
                        <a href="{{ next_photo.get_absolute_url }}"
                           class="btn btn-outline-dark"
                           id="next-photo-link">></a>
                    {% endif %}
                </div>
                {% block modal %}
                    <div class="modal fade"
                         id="exifModal"
                         tabindex="-1"
                         aria-labelledby="exifModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exifModalLabel">EXIF</h1>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    {% block exif %}
                                        <table class="table table-sm table-hover">
                                            {% if photo.camera %}
                                                <tr>
                                                    <td>Камера</td>
                                                    <td>{{ photo.camera }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if photo.lens_model %}
                                                <tr>
                                                    <td>Объектив</td>
                                                    <td>{{ photo.lens_model }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if photo.focal_length %}
                                                <tr>
                                                    <td>Фокусное расстояние</td>
                                                    <td>{{ photo.focal_length }} мм</td>
                                                </tr>
                                            {% endif %}
                                            {% if photo.aperture %}
                                                <tr>
                                                    <td>Диафрагма</td>
                                                    <td>F/{{ photo.aperture|floatformat:"0" }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if photo.exposure %}
                                                <tr>
                                                    <td>Выдержка</td>
                                                    <td>{{ photo.exposure }} с</td>
                                                </tr>
                                            {% endif %}
                                            {% if photo.iso %}
                                                <tr>
                                                    <td>Светочувствительность</td>
                                                    <td>ISO {{ photo.iso }}</td>
                                                </tr>
                                            {% endif %}
                                        </table>
                                    {% endblock exif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock modal %}
            </div>
        </div>
    </div>
    <br>
    <br>
{% endblock content %}
