{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded align-items-center justify-content-center">
            <div class="card-body">
                {% block card %}
                    <h4 class="card-title" align="center">Загрузка фотографий</h4>
                    <p class="card-text">
                        <form method="post"
                              enctype="multipart/form-data"
                              action="{% url "gallery:upload" %}"
                              ALIGN="center">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <br>
                            <input type="submit" class="btn btn-outline-dark" value="Загрузить" />
                        </form>
                    </p>
                {% endblock card %}
            </div>
        </div>
    </div>
{% endblock content %}
