{% extends "base.html" %}
{% load react_tags %}
<!-- Шаблон корневой страницы блога, наследует от базового шаблона. -->
{% block content %}
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="mb-0">Блог</h1>
            {% if user.is_staff %}
                <a class="btn btn-outline-dark" href="{% url "blog:article-create" %}">Написать статью</a>
            {% endif %}
        </div>
        <div class="mb-3">
            {% react_component "Search/SearchForm" search=search targetUrl="/blog/" placeholder="Поиск по статьям..." %}
        </div>
        {% react_component "Blog/ArticleList" apiUrl="/api/blog/articles/" search=search %}
    </div>
{% endblock content %}
