{% extends "base.html" %}
{% load react_tags %}
<!-- Шаблон страницы категории блога. -->
{% block title %}
    {{ category.name }}
{% endblock title %}
{% block meta %}
    {% if not category.public %}<meta name="robots" content="noindex">{% endif %}
{% endblock meta %}
{% block content %}
    <div class="container">
        <h1 class="fs-2">{{ category.name }}</h1>
        {% if category.description %}<p>{{ category.description }}</p>{% endif %}
        {% react_component "Blog/ArticleList" categorySlug=category.slug %}
    </div>
{% endblock content %}
