{% extends "base.html" %}
{% load react_tags %}
<!-- Шаблон страницы серии блога. -->
{% block title %}
    {{ series.name }}
{% endblock title %}
{% block meta %}
    {% if not series.public %}<meta name="robots" content="noindex">{% endif %}
{% endblock meta %}
{% block content %}
    <div class="container">
        <h1 class="fs-2">{{ series.name }}</h1>
        {% if series.description %}<p>{{ series.description }}</p>{% endif %}
        {% react_component "Blog/ArticleList" seriesSlug=series.slug %}
    </div>
{% endblock content %}
