{% extends "base.html" %}
{% load react_tags %}
<!-- Шаблон страницы темы блога. -->
{% block title %}
    {{ topic.name }}
{% endblock title %}
{% block meta %}
    {% if not topic.public %}<meta name="robots" content="noindex">{% endif %}
{% endblock meta %}
{% block content %}
    <div class="container">
        <h1 class="fs-2">{{ topic.name }}</h1>
        {% if topic.description %}<p>{{ topic.description }}</p>{% endif %}
        {% react_component "Blog/ArticleList" topicSlug=topic.slug %}
    </div>
{% endblock content %}
