{% extends "base.html" %}
{% load crispy_forms_tags %}
<!-- Шаблон для статьи и комментариев, наследует от базового шаблона. -->
{% block title %}
    <title>{{ article.title }}</title>
{% endblock title %}
{% block extra_header %}
    {{ comment_form.media }}
{% endblock extra_header %}
{% block content %}
    <div class="container">
        <div class="card shadow p-1 mb-5 bg-white rounded justify-content">
            <div class="card-body">
                <h4 class="card-title">{{ article.title }}</h4>
                <p class="card-text">{{ article.content|safe }}</p>
                <div class="card-footer">
                    <small class="text-muted">Опубликовано {{ article.published_at }}</small>
                    <br>
                    <small class="text-muted">Обновлено {{ article.modified_at }}</small>
                </div>
            </div>
            <div id="comments_section">
                {% if user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ comment_form|crispy }}
                            <br>
                            <button class="btn btn-outline-dark" type="submit">
                                Добавить комментарий
                                <i class="fas fa-comments"></i>
                            </button>
                        </div>
                    </form>
                {% else %}
                    <a class="btn btn-outline-dark"
                       href="{% url "login" %}?next={{ request.path }}">Войдите, чтобы оставить комментарий</a>
                    <br>
                {% endif %}
                {% if comments %}
                    <br>
                    <ul>
                        {% for comment in comments %}
                            <li>
                                <div>
                                    <span>
                                        <strong class="fw-bolder">{{ comment.author }}</strong>
                                        <small class="text-muted">{{ comment.posted }}</small>
                                    </span>
                                    <p>{{ comment.content|safe }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
