{% load static %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "debug" %}
            <div class="alert alert-secondary alert-dismissible fade show d-flex align-items-center"
                 role="alert">
                <img src="{% static "bootstrap-icons/icons/info.svg" %}" alt="Bootstrap" width="32" height="32">
                <div>{{ message }}</div>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Закрыть"></button>
            </div>
        {% elif message.tags == "info" %}
            <div class="alert alert-primary alert-dismissible fade show d-flex align-items-center"
                 role="alert">
                <img src="{% static "bootstrap-icons/icons/info.svg" %}" alt="Bootstrap" width="32" height="32">
                <div>{{ message }}</div>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Закрыть"></button>
            </div>
        {% elif message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show d-flex align-items-center"
                 role="alert">
                <img src="{% static "bootstrap-icons/icons/check.svg" %}" alt="Bootstrap" width="32" height="32">
                <div>{{ message }}</div>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Закрыть"></button>
            </div>
        {% elif message.tags == "warning" %}
            <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center"
                 role="alert">
                <img src="{% static "bootstrap-icons/icons/exclamation.svg" %}" alt="Bootstrap" width="32" height="32">
                <div>{{ message }}</div>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Закрыть"></button>
            </div>
        {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center"
                 role="alert">
                <img src="{% static "bootstrap-icons/icons/exclamation.svg" %}" alt="Bootstrap" width="32" height="32">
                <div>{{ message }}</div>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Закрыть"></button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
