{% load static %}
<!-- Навигационная панель. -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-5">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/ico" />
    <div class="container">
        <a class="navbar-brand">Mikhail Polyakov</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if "/main/" in request.path %}active{% endif %}" aria-current="page" href="{% url "main:main" %}">
                        Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if "/blog/" in request.path %}active{% endif %}" aria-current="page" href="{% url "blog:blog" %}">
                        Блог
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if "/gallery/" in request.path %}active{% endif %}" aria-current="page" href="{% url "gallery:gallery" %}">
                        Галерея
                    </a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <span class="navbar-text text-nowrap">
                    <small>Вы вошли как {{ user.get_username }}</small>
                </span>
                {% if request.user.is_staff %}
                    <a href="{% url "admin:index" %}" class="navbar-text text-nowrap">Администрирование</a>
                {% endif %}
                <a href="{% url "logout" %}" class="btn btn-outline-light" role="button">Выйти</a>
            {% else %}
                <a href="{% url "accounts:signup" %}" class="navbar-text text-nowrap">Регистрация</a>
                <a href="{% url "login" %}" class="btn btn-outline-light" role="button">Войти</a>
            {% endif %}
        </div>
    </div>
</nav>
