server {
    listen ${NGINX_PORT};

    server_name ${DOMAIN_NAME};

    # Статические и медиафайлы обслуживаются объектным хранилищем,
    # nginx выполняет только проксирование запросов к приложению.
    location / {
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.sock;
    }
}
