{% include "bootstrap.html" %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="#">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Блог</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Галерея</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Сервисы</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Портфельная оптимизация</a></li>
    </ul>
  </li>
</ul>