{% extends "base.html" %}
<!-- Шаблон для отображения списка выполнений, наследует от базового шаблона -->

{% block content %}
    <div class = "container">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <br>
                {% endif %}
                <div class="table-responsive">
                    <table class="table small table-hover table-bordered">
                        <caption>История выполнений скриптов</caption>
                        <thead class="table-light">
                            <tr>
                                <th>Скрипт</th>
                                <th>Время запуска</th>
                                <th>Статус</th>
                                <th>Время завершения</th>
                                <th>Успешный</th>
                                <th>Результат</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for execution in executions %}
                                <tr>
                                    <td><a href="/scripts/job/{{ execution.job.pk }}/">{{ execution.job }}</a></td>
                                    <td>{{ execution.start|default_if_none:"" }}</td>
                                    <td>{{ execution.get_status_display|default_if_none:"" }}</td>
                                    <td>{{ execution.end|default_if_none:"" }}</td>
                                    <td>{{ execution.get_success_display|default_if_none:"" }}</td>
                                    <td>{{ execution.result|default_if_none:"" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            </div>
        </div>
    </div>  
{% endblock %}