{% extends "registration/login.html" %}
<!-- 
  Форма для запроса сброса пароля.
  Шаблон наследует от шаблона авторизации на сайте. 
-->
{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}{{ form.email.errors }}{% endif %}
    <table class="center">
      <tr>
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
      </tr>
    </table>
    <br>
    <input type="submit" class="btn btn-outline-dark" value="Сбросить пароль">
  </form>
{% endblock content %}
