{% extends "registration/login.html" %}
{% load crispy_forms_tags %}
<!--
    Форма регистрации.
    Шаблон наследует от шаблона авторизации на сайте.
-->
{% block card %}
    {% if user.is_authenticated %}
        Вы уже зарегистрированы.
    {% else %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <p>
                <input type="submit" class="btn btn-outline-dark" value="Зарегистрироваться" />
            </p>
        </form>
        Если вы уже зарегистрированы, то можете
        <a href="{% url "login" %}" target="blank">
            <strong>войти</strong>
        </a>
    {% endif %}
{% endblock card %}
